# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Mac/Windows
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log

# Python packaging
build/
dist/
*.egg-info/
.eggs/

# PyCharm
.idea/

# Ignore OS temporary files
*~
